{% extends 'layout/main.html.twig' %}

{% block title %}title{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    <div>
        <h1>title</h1>
        <p>description</p>
    </div>
{% endblock %}

