<!--
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <h5 class="white-text">{ page_title }</h5>
                <p class="grey-text text-lighten-4">
                    .
                </p>
            </div>
            <div class="col l3 m3 s6">
                <h5 class="white-text">Клиентам</h5>
                <ul>
                    <li><a class="white-text" href="#">Для партнеров</a></li>
                </ul>
            </div>
            <div class="col l3 m3 s6">
                <h5 class="white-text">О нас</h5>
                <ul>
                    <li><a class="white-text" href="#">О проекте</a></li>
                </ul>
            </div>
        </div>
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
-->
