<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand mx-2" href="/">{{ app_name|trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            {% include 'layout/header/_language.html.twig' %}

            {% if is_granted('ROLE_USER') %}
                {% include 'layout/header/_user.html.twig' %}
            {% else %}
                {% include 'layout/header/_login.html.twig' %}
            {% endif %}
        </div>
    </nav>
</header>
